.cake {
  .wrapper {
    background-color: #fff;

    .cake-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px 20px;
      padding: 32px;

      .cake-grid-item {
        text-align: center;

        .fadein {
          opacity: 0;
          transform: translateY(10px);
          transition: all 1s;
        }

        img {
          width: 300px;
          height: 300px;
          object-fit: cover;
        }

        p {
          margin: 8px 0 8px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .cake {
    .wrapper {
      .cake-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
      }
    }
  }
}
