.contact {
  .contact-form {
    form {
      max-width: 960px;
      height: auto;
      margin: 80px auto 0;
      padding: 64px;
      border: 1px solid #000;
      background-color: #fff;

      dl {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;

        dt {
          width: 20%;
          margin-bottom: 64px;
          font-weight: bold;

          &:last-of-type {
            margin-bottom: 0;
          }

          text-align: center;
        }

        dd {
          width: 80%;
          margin-bottom: 64px;

          &:last-of-type {
            margin-bottom: 0;
          }

          input {
            width: 100%;
            padding: 16px 0;
          }

          textarea {
            width: 100%;
            padding: 16px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .contact {
    .contact-form {
      form {
        max-width: 350px;
        dl {
          flex-direction: column;

          dt {
            width: 100%;
            margin-bottom: 24px;

            &:last-of-type {
              margin-bottom: 24px;
            }
          }

          dd {
            width: 100%;
          }
        }
      }
    }
  }
}
