footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  vertical-align: middle;
  line-height: 2;

  .site-logo {
    width: 140px;
    height: 80px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;

    li {
      padding: 20px 0;
      margin-right: 20px;

      a {
        display: block;
        color: #000;
        text-decoration: none;

        img {
          width: 29px;
          height: 29px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  footer {

    .site-logo {
      margin: 0 auto;
    }
    nav {
      display: none;
    }
  }
}
