.space {
  .wrapper {
    margin: 32px auto 32px;
    padding-top: 16px 0;

    .space-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 100px auto 0;
      border: 1px solid #000;

      img {
        width: 40%;
        height: 300px;
        border: 1px solid #000;
      }

      .text {
        width: 60%;
        height: 200px;
        padding: 24px;
        margin: 0 auto 24px;
        text-align: center;

        p {
          font-size: 14px;
          line-height: 2;
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .space {
    .wrapper {
      .space-item {
        flex-direction: column;

        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
        }

        .text {
          width: 100%;
          padding: 16px;

          p {
            width: 100%;
            font-size: 12px;
          }
        }

        &:nth-of-type(2) {
          flex-direction: column-reverse;
        }
      }
    }
  }
}
