.time {
  .wrapper {
    margin: 32px auto 32px;
    padding: 32px 0;

    .time-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 100px auto 0;
      border: 1px solid #000;

      img {
        width: 40%;
        height: 300px;
        border: 1px solid #000;
        object-fit: cover;
      }

      .text {
        width: 60%;
        height: 200px;
        padding: 32px 24px;
        vertical-align: middle;

        

        p {
          margin-top: 16px;
          font-size: 14px;
          line-height: 1.5;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .time {
    .wrapper {
      .time-item {
        flex-direction: column;

        img {
          width: 100%;
        }

        .text {
          width: 100%;
          padding: 16px;

          p {
            width: 100%;
            font-size: 12px;
          }
        }

        &:nth-of-type(2) {
          flex-direction: column-reverse;
        }
      }
    }
  }
}
